@{


}


<h1></h1>


<div class="container">
    <a href="http://localhost:50146/Products/Create">
        <div class="col-xs-12 col-md-6 full-card">
            <div class="flip-card active-card">
                <div class="card label-info">
                    <h6>
                        <img src="~/Content/images/menu.png" />
                    </h6>
                </div>

                <div class="well">
                    <h1>Dodaj Produkt</h1>
                </div>
            </div>
        </div>
    </a>
    <a href="http://localhost:50146/Products/Index">
        <div class="col-xs-12 col-md-6 full-card">
            <div class="flip-card active-card">
                <div class="card label-info">
                    <h6>
                        <img src="~/Content/images/diet.png" />
                    </h6>
                </div>

                <div class="well">
                    <h1>Zobacz Produkty</h1>
                </div>
            </div>
        </div>
    </a>
    <a href="http://localhost:50146/Dishes_Products/Create">
        <div class="col-xs-12 col-md-6 full-card">
            <div class="flip-card active-card">
                <div class="card label-info">
                    <h6>
                        <img src="~/Content/images/chef.png" />
                    </h6>
                </div>

                <div class="well">
                    <h1>Stwórz Danie</h1>
                </div>
            </div>
        </div>
    </a>
    <a href="http://localhost:50146/Dishes_Products/Index">
        <div class="col-xs-12 col-md-6 full-card">
            <div class="flip-card active-card">
                <div class="card label-info">
                    <h6>
                        <img src="~/Content/images/bell-covering-hot-dish.png" />
                    </h6>
                </div>

                <div class="well">
                    <h1>Zobacz Dania</h1>
                </div>
            </div>
        </div>
    </a>
</div>

