@{
    

}


<h1>Dziennik żywieniowy</h1>
    <div class="row">
        <div class="col-md-8">
            <a class="btn btn-primary btn-lg" href="http://localhost:50146/Products/Create">Dodaj produkt</a>
            <a class="btn btn-primary btn-lg" href="http://localhost:50146/Products/Index">Zobacz Produkty</a>
        </div>
    </div>

    <div class="row">
        
    

    </div>
