<!--@{
    ViewBag.Title = "FoodDiaryView";
}

<h1>Dziennik żywieniowy</h1>
<div class="row">
    <div class="col-md-4">
        <a class="btn btn-primary btn-lg" href="http://localhost:50146/Home/Product">Dodaj produkt</a>
        <a class="btn btn-primary btn-lg" href="http://localhost:50146/Home/Product">Dziennik</a>
    </div>
</div>-->

@{


}
<style>
    body {
        background-color: #505050;
        font-family: 'Lato', sans-serif;
        color: black;
    }

    #ad {
        border: 2px dotted;
        height: 100px;
        width: 1140px;
    }
</style>

<h1>Dziennik żywieniowy</h1>
<div class="row">
    <div class="col-md-8">
        <a class="btn btn-primary btn-lg" href="http://localhost:50146/Home/AddProductForm">Dodaj produkt</a>
        <a class="btn btn-primary btn-lg" href="http://localhost:50146/Home/Product">Dziennik</a>

    </div>
</div>
<div id="ad">
    <h4>Reklama</h4>
</div>

<!-- <div class="row">



 </div>-->
