@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Zaplanuj trening</h2>
        <p>
            BodyLog posiada wszystkie potrzebne narzędzia do planowania i monitorowania twojego treningu. Nasz kalendarz łatwo pozwoli ci 
            na zarządzanie swoimi jednostkami treningowymi, a rozbudowany dziennik precyzyjnie wksaże postępy.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Więcej &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Dziennik żywieniowy</h2>
        <p>Dzięki BodyLog łatwo dodasz swoje posiłki do raportu ogólnego, który pozwoli Ci na kontrolę spożywanych kalorii oraz makroskładników</p>
        <p><a class="btn btn-default" href="http://localhost:50146/Home/About">Więcej &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Więcej &raquo;</a></p>
    </div>
</div>