@{
    ViewBag.Title = "Home Page";
}



<!--<div class="jumbotron">-->
<!--<h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
<style>
    body {
        background-color: #505050;
        font-family: 'Lato', sans-serif;
        color: black;
    }

    #img {
        height: 500px;
        width: 1140px;
    }

    .a {
        border: 2px dotted;
        float: left;
        height: 400px;
        width: 380px;
    }

    #ad {
        border: 2px dotted;
        height: 100px;
        width: 1140px;
    }
</style>
<div id="1">
    <h1>BodyLog</h1>
    <p>Aplikacja BodyLog pomoże Ci zaplanowac trening oraz dietę.</p>

</div>

<!--<div class="row">-->
<div id="2">
    <h3>Zaplanuj trening</h3>
    <p>
        BodyLog posiada wszystkie potrzebne narzędzia do planowania i monitorowania twojego treningu. Nasz kalendarz łatwo pozwoli ci
        na zarządzanie swoimi jednostkami treningowymi, a rozbudowany dziennik precyzyjnie wksaże postępy.
    </p>
    <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Więcej &raquo;</a></p>
</div>
<div id="3">
    <h3>Dziennik żywieniowy</h3>
    <p>Dzięki BodyLog łatwo dodasz swoje posiłki do raportu ogólnego, który pozwoli Ci na kontrolę spożywanych kalorii oraz makroskładników</p>
    <p><a class="btn btn-default" href="http://localhost:50146/Home/About">Więcej &raquo;</a></p>
</div>
<!--<div id="col-md-4">
    <h3>Web Hosting</h3>
    <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
    <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Więcej &raquo;</a></p>
</div>-->
<div id="img">

    <div class="a">
        <h4>Grafika 1</h4>
    </div>
    <div class="a">
        <h4>Grafika 2</h4>
    </div>
    <div class="a">
        <h4>Grafika 3</h4>
    </div>
    <div style="clear:both" ;></div>
    <div id="ad">
        <h4>Reklama</h4>
    </div>


</div>
<!--</div>-->
