@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BodyLog</h1>
    <p class="lead">Twój dziennik!</p>
    <p><a href=""http://localhost:50146/Home/FoodDiaryView" class="btn btn-primary btn-lg">Zobacz Więcej &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Zaplanuj trening</h2>
        <p>
            BodyLog posiada wszystkie potrzebne narzędzia do planowania i monitorowania twojego treningu. Nasz kalendarz łatwo pozwoli ci 
            na zarządzanie swoimi jednostkami treningowymi, a rozbudowany dziennik precyzyjnie wksaże postępy.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Więcej &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Dziennik żywieniowy</h2>
        <p>Dzięki BodyLog łatwo dodasz swoje posiłki do raportu ogólnego, który pozwoli Ci na kontrolę spożywanych kalorii oraz makroskładników</p>
        <p><a class="btn btn-default" href="http://localhost:50146/Home/FoodDiaryView">Więcej &raquo;</a></p>
    </div>  
</div>