
@{
    ViewBag.Title = "TrainingDiaryView";
}

<h1>Dziennik treningowy</h1>
<div class="row">
    <div class="col-md-8">
        <a class="btn btn-primary btn-lg" href="http://localhost:50146/Activities/Create">Dodaj ćwiczenie</a>
        <a class="btn btn-primary btn-lg" href="http://localhost:50146/Activities_Plans/Create">Stwórz trening</a>
    </div>
</div>
<div class="row mt-2" style="margin-top: 50px">
    <div class="col-md-8">
        <a class="btn btn-primary btn-lg" href="http://localhost:50146/Activities/Index">Zobacz ćwiczenia</a>
        <a class="btn btn-primary btn-lg" href="http://localhost:50146/Activities_Plans/Index">Zobacz treningi</a>
    </div>
</div>


