@model BodyLog.Models.ProductModel

@{
    ViewBag.Title = "Dania z Produktów";
}

<h2>Dania stworzone z Twoich produktów!</h2>

<table class="table">

    <ul>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Dishes.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Products[0].Name)
                </th>
            </tr>

            @foreach (var item in Model.Dishes_Products)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.DishesList.Find(o => o.Id == item.Id_Dishes).Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Products.Find(o => o.Id == item.Id_Product).Name)
                </td>            
            </tr>
            }

        </table>
    </ul>


</table>
